/* 卡片容器 */
/*
.card-content{
    display: flex;
    flex-wrap:warp;
    gap:20px;

}
*/

/*
.card-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap:20px;
}
    */

  .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(200px, auto); /* 自动调整行高 */
  grid-auto-flow: dense; /* 紧凑排列 */
}

.tall-card {
  grid-row: span 2; /* 高卡片占两行 */
}



/* 单个卡片 */
.card{
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover{
    transform: translateY(-5px);
}

.card-content{
    padding: 16px;
}

@media (max-width:768px) {
    .card{
        width: 100%;
    }
}

.card-title{
    font-size: 1.25rem;
    margin-bottom: 8px;
    text-align: center;
}

.card-text{
    color:#666;
    margin-bottom: 16px;
    text-align: center;
}

.card-button{
    background: #3498db;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    align: center;
}

card-button:hover {
  background: #2980b9;
}